@import '../../components/counterCard/CounterCard.scss';
@import '../../components/formFeedback/FormFeedback.scss';


.productPage {

  margin: 100px 0 80px 0;

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: auto;
    gap: 0 30px;
  }

  &__imgs {
    display: grid;
    grid-template-areas: "imgMain imgMain imgMain"
                         "img1 img2 img3";
    gap: 10px;

    &__mainImg {
      grid-area: imgMain;
      width: 360px;
      height: 480px;
      object-fit: cover;
      background: url("../img/card1MainImg.webp") no-repeat;
      background-size: cover;
      position: relative;
      z-index: 1;
    }

    &__smallImg {
      width: 70px;
      height: 70px;
      object-fit: cover;
    }

    &__smallImg:hover {
      cursor: pointer;
      padding: 5px;
      border: 2px solid #9f2925;
      transform: scale(1.18);
    }

    &__smallImg:nth-child(1) {
      grid-area: img1;
      background: url("../img/card1MainImg.webp") no-repeat;
    }

    &__smallImg:nth-child(1):hover ~ &__mainImg {
      background: url("../img/card1MainImg.webp") no-repeat;
    }

    &__smallImg:nth-child(2) {
      grid-area: img2;
      background: url("../img/card1Img2.webp") no-repeat;
    }

    &__smallImg:nth-child(2):hover ~ &__mainImg {
      background: url("../img/card1Img2.webp") no-repeat;
    }

    &__smallImg:nth-child(3) {
      grid-area: img3;
      background: url("../img/card1Img3.webp") no-repeat;
    }

    &__smallImg:nth-child(3):hover ~ &__mainImg {
      background: url("../img/card1Img3.webp") no-repeat;
    }

  }
  &__data {
    display: flex;
  }
  &__choice {
    background-color: rgba(187,157,96,.1);
    width: 310px;
    height: auto;

    &__wrapper {
      padding: 20px 25px 22px 25px;
      display: flex;
      flex-direction: column;
    }
    &__btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0 10px;

      &__btn {
        padding: 0 5px;
        background-color: #9f2925;
        border: none;
        width: 197px;
        height: 48px;
        transition: 0.3s all;
      }

      &__btn:hover {
        opacity: 50%;
        transition: 0.3s all;
      }
      &__btn a {
        font-weight: 700;
        text-align: center;
        font-size: 14px;
        letter-spacing: 1px;
        padding: 0 5px;
        color: #fff;

      }

    }
  }

  &__table {
    display: table;

    &__row {
      border: 1px solid #f0f0f0;
    }
    &__cell {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
      color: #000;
      padding: 6px 10px;
      border-left: 1px solid #f0f0f0;

    }
  }
  &__features {
    background-color: rgba(187,157,96,.1);
    width: 100%;
    height: auto;

    &__wrapper {
        padding: 32px 34px 32px 34px;
        display: flex;
        justify-content: space-between;
    }
  }

}