extends ../../layout/layout
block page
    include ../../chunk/header/header
    main.productPage
        section.breadcrumbs

        section.productPage__product
            .container
                .productPage__wrapper
                    .productPage__imgs
                        img.productPage__imgs__smallImg.smallImg(src='img/ST3026.webp')
                        img.productPage__imgs__smallImg.smallImg(src='img/ST3026.webp')
                        img.productPage__imgs__smallImg.smallImg(src='img/ST3026.webp')
                        .productPage__imgs__mainImg.mainImg
                            img(src='img/ST3026.webp')
                    .productPage__info
                        h3.productPage__title
                            | Саржа цв.Темный зелено-серый, ш.1.53м, хлопок-100%, 235гр/м.кв
                        .productPage__discount
                            | СКИДКА 10%
                        .productPage__data
                            table.productPage__table
                                tr.productPage__table__row
                                    td.productPage__table__cell
                                        | Состав
                                    td.productPage__table__cell
                                        | Хлопок 100%
                                tr.productPage__table__row
                                    td.productPage__table__cell
                                        | Ширина
                                    td.productPage__table__cell
                                        | 1.5м
                                tr.productPage__table__row
                                    td.productPage__table__cell
                                        | Плотность
                                    td.productPage__table__cell
                                        | 165 гр/м2
                                tr.productPage__table__row
                                    td.productPage__table__cell
                                        | Страна производитель
                                    td.productPage__table__cell
                                        | Россия
                                tr.productPage__table__row
                                    td.productPage__table__cell
                                        | Артикул
                                    td.productPage__table__cell
                                        | 031851
                            .productPage__choice
                                .productPage__choice__wrapper
                                    .productPage__choice__prices
                                        .productPage__choice__prices__currPrice
                                            | 261 руб/м
                                        .productPage__choice__prices__prevPrice
                                            | 290 руб.
                                    p.productPage__choice__text
                                        | Выберите длину
                                    .productPage__choice__counter
                                        include ../../components/counterCard/CounterCard
                                    p.productPage__choice__price
                                        | 44 руб.
                                    .productPage__choice__btns
                                        button.productPage__choice__btns__btn
                                            a(href='#')
                                                | В корзину
                                        .productPage__choice__btns__fav
                                            img.productPage__choice__btns__favImg(src='img/like-empty.svg')
                        p.productPage__description

                        .productPage__features
                            .productPage__features__wrapper
                                .productPage__features__wrapper__item
                                    img.productPage__features__wrapper__item__img(src="img/scissors.svg")
                                    p.productPage__features__wrapper__item__text
                                        | Режем ткань
                                        br
                                        | от 10 см
                                .productPage__features__wrapper__item
                                    img.productPage__features__wrapper__item__img(src="img/plaid.svg")
                                    p.productPage__features__wrapper__item__text
                                        | Нет ограничений
                                        br
                                        | по минимальнмоу заказу
                                .productPage__features__wrapper__item
                                    img.productPage__features__wrapper__item__img(src="img/box.svg")
                                    p.productPage__features__wrapper__item__text
                                        | Доставим товар
                                        br
                                        | в любую точку мира
        section.leadersSells
            h3.leaderSells__title
                | Товары из раздела Хлопок
            .container
                .leadersSells__wrapper
                    include ../../mixins/cardProduct/CardProduct
                    .leadersSells__item
                        +CardProduct({
                            link: 'PageProduct.html',
                            img1: 'img/ST3025.webp',
                            img2: 'img/ST3027.webp',
                            img3: 'img/ST3025.webp',
                            mainImg: 'img/ST3025.webp',
                            title: 'Ткань палаточная с водоотталкивающей пропиткой цв.Суровый, ш.1.55м, хл-100%, 235гр/м.кв',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })
                    .leadersSells__item
                        +CardProduct({
                            link: 'PageProduct.html',
                            img1: 'img/ST-2004.webp',
                            img2: 'img/ST-2001.webp',
                            img3: 'img/ST-2001.webp',
                            mainImg: 'img/ST-2004.webp',
                            title: 'Ткань палаточная с водоотталкивающей пропиткой цв.Суровый, ш.1.55м, хл-100%, 235гр/м.кв',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })
                    .leadersSells__item
                        +CardProduct({
                            link: 'PageProduct.html',
                            img1: 'img/ST3002.webp',
                            img2: 'img/ST3003.webp',
                            img3: 'img/ST3004.webp',
                            mainImg: 'img/ST3002.webp',
                            title: 'Ткань палаточная с водоотталкивающей пропиткой цв.Суровый, ш.1.55м, хл-100%, 235гр/м.кв',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })
                    .leadersSells__item
                        +CardProduct({
                            link: 'PageProduct.html',
                            img1: 'img/ST3005.webp',
                            img2: 'img/ST3012.webp',
                            img3: 'img/ST3013.webp',
                            mainImg: 'img/ST3005.webp',
                            title: 'Гладкий сатин Производитель турция ШИРИНАШИРИНА 240 см громажность 128-130 (м2) состав 100% хлопок. инструкция по стирке ГЛАЖКА ✅ СТИРКА 30 ГРАДУСВОВ СУШКА ✅ ХИМЧИСТКА✅',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })
                    .leadersSells__item
                        +CardProduct({
                            link: 'PageProduct.html',
                            img1: 'img/ST3014.webp',
                            img2: 'img/ST3015.webp',
                            img3: 'img/ST3016.webp',
                            mainImg: 'img/ST3014.webp',
                            title: 'Гладкий сатин Производитель турция ШИРИНАШИРИНА 240 см громажность 128-130 (м2) состав 100% хлопок. инструкция по стирке ГЛАЖКА ✅ СТИРКА 30 ГРАДУСВОВ СУШКА ✅ ХИМЧИСТКА✅',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })
                    .leadersSells__item
                        +CardProduct({
                            link: 'PageProduct.html',
                            img1: 'img/ST3018.webp',
                            img2: 'img/ST3019.webp',
                            img3: 'img/ST3020.webp',
                            mainImg: 'img/ST3018.webp',
                            title: 'Гладкий сатин Производитель турция ШИРИНАШИРИНА 240 см громажность 128-130 (м2) состав 100% хлопок. инструкция по стирке ГЛАЖКА ✅ СТИРКА 30 ГРАДУСВОВ СУШКА ✅ ХИМЧИСТКА✅',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })
                    .leadersSells__item
                        +CardProduct({
                            link: 'PageProduct.html',
                            img1: 'img/ST3022.webp',
                            img2: 'img/ST3023.webp',
                            img3: 'img/ST3024.webp',
                            mainImg: 'img/ST3022.webp',
                            title: 'Гладкий сатин Производитель турция ШИРИНАШИРИНА 240 см громажность 128-130 (м2) состав 100% хлопок. инструкция по стирке ГЛАЖКА ✅ СТИРКА 30 ГРАДУСВОВ СУШКА ✅ ХИМЧИСТКА✅',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })
                    .leadersSells__item
                        +CardProduct({
                            link: 'PageProduct.html',
                            img1: 'img/ST3026.webp',
                            img2: 'img/ST3026.webp',
                            img3: 'img/ST3026.webp',
                            mainImg: 'img/ST3026.webp',
                            title: 'Ткань палаточная с водоотталкивающей пропиткой цв.Суровый, ш.1.55м, хл-100%, 235гр/м.кв',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })
                    .leadersSells__item
                        +CardProduct({
                            link: 'PageProduct.html',
                            img1: 'img/ST-2020.webp',
                            img2: 'img/ST-2022.webp',
                            img3: 'img/ST-2023.webp',
                            mainImg: 'img/ST-2020.webp',
                            title: 'Гладкий сатин Производитель турция ШИРИНАШИРИНА 240 см громажность 128-130 (м2) состав 100% хлопок. инструкция по стирке ГЛАЖКА ✅ СТИРКА 30 ГРАДУСВОВ СУШКА ✅ ХИМЧИСТКА✅',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })
                    .leadersSells__item
                        +CardProduct({
                            link: 'PageProduct.html',
                            img1: 'img/ST-2024.webp',
                            img2: 'img/ST-2026.webp',
                            img3: 'img/ST-2027.webp',
                            mainImg: 'img/ST-2024.webp',
                            title: 'Гладкий сатин Производитель турция ШИРИНАШИРИНА 240 см громажность 128-130 (м2) состав 100% хлопок. инструкция по стирке ГЛАЖКА ✅ СТИРКА 30 ГРАДУСВОВ СУШКА ✅ ХИМЧИСТКА✅',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })
        section.productPage__list
            .container
                h3.productPage__title
                    | Вы недавно смотрели
                include ../../mixins/cardProduct/CardProduct
                .glide.product__slider
                    .glide__track.productsSlider__track(data-glide-el="track")
                        .glide__slides.productsSlider__slides
                            .glide__slide.productsSlider__slider__slide
                                +CardProduct({
                                    link: 'ST3002.html',
                                    img1: 'img/ST3002.webp',
                                    img2: 'img/ST3003.webp',
                                    img3: 'img/ST3004.webp',
                                    mainImg: 'img/ST3002.webp',
                                    title: 'Ткань палаточная с водоотталкивающей пропиткой цв.Суровый, ш.1.55м, хл-100%, 235гр/м.кв',
                                    priceNew: '1000 руб.',
                                    pricePrev: '2000 руб.'
                                })
                            .glide__slide.productsSlider__slider__slide
                                +CardProduct({
                                    link: 'ST3005.html',
                                    img1: 'img/ST3005.webp',
                                    img2: 'img/ST3012.webp',
                                    img3: 'img/ST3013.webp',
                                    mainImg: 'img/ST3005.webp',
                                    title: 'Гладкий сатин Производитель турция ШИРИНАШИРИНА 240 см громажность 128-130 (м2) состав 100% хлопок. инструкция по стирке ГЛАЖКА ✅ СТИРКА 30 ГРАДУСВОВ СУШКА ✅ ХИМЧИСТКА✅',
                                    priceNew: '1000 руб.',
                                    pricePrev: '2000 руб.'
                                })
                            .glide__slide.productsSlider__slider__slide
                                +CardProduct({
                                    link: 'ST3014.html',
                                    img1: 'img/ST3014.webp',
                                    img2: 'img/ST3015.webp',
                                    img3: 'img/ST3016.webp',
                                    mainImg: 'img/ST3014.webp',
                                    title: 'Гладкий сатин Производитель турция ШИРИНАШИРИНА 240 см громажность 128-130 (м2) состав 100% хлопок. инструкция по стирке ГЛАЖКА ✅ СТИРКА 30 ГРАДУСВОВ СУШКА ✅ ХИМЧИСТКА✅',
                                    priceNew: '1000 руб.',
                                    pricePrev: '2000 руб.'
                                })
                            .glide__slide.productsSlider__slider__slide
                                +CardProduct({
                                    link: 'ST3018.html',
                                    img1: 'img/ST3018.webp',
                                    img2: 'img/ST3019.webp',
                                    img3: 'img/ST3020.webp',
                                    mainImg: 'img/ST3018.webp',
                                    title: 'Гладкий сатин Производитель турция ШИРИНАШИРИНА 240 см громажность 128-130 (м2) состав 100% хлопок. инструкция по стирке ГЛАЖКА ✅ СТИРКА 30 ГРАДУСВОВ СУШКА ✅ ХИМЧИСТКА✅',
                                    priceNew: '1000 руб.',
                                    pricePrev: '2000 руб.'
                                })
                            .glide__slide.productsSlider__slider__slide
                                +CardProduct({
                                    link: 'ST3022.html',
                                    img1: 'img/ST3022.webp',
                                    img2: 'img/ST3023.webp',
                                    img3: 'img/ST3024.webp',
                                    mainImg: 'img/ST3022.webp',
                                    title: 'Гладкий сатин Производитель турция ШИРИНАШИРИНА 240 см громажность 128-130 (м2) состав 100% хлопок. инструкция по стирке ГЛАЖКА ✅ СТИРКА 30 ГРАДУСВОВ СУШКА ✅ ХИМЧИСТКА✅',
                                    priceNew: '1000 руб.',
                                    pricePrev: '2000 руб.'
                                })
                            .glide__slide.productsSlider__slider__slide
                                +CardProduct({
                                    link: 'ST3022.html',
                                    img1: 'img/ST3022.webp',
                                    img2: 'img/ST3023.webp',
                                    img3: 'img/ST3024.webp',
                                    mainImg: 'img/ST3022.webp',
                                    title: 'Гладкий сатин Производитель турция ШИРИНАШИРИНА 240 см громажность 128-130 (м2) состав 100% хлопок. инструкция по стирке ГЛАЖКА ✅ СТИРКА 30 ГРАДУСВОВ СУШКА ✅ ХИМЧИСТКА✅',
                                    priceNew: '1000 руб.',
                                    pricePrev: '2000 руб.'
                                })
                    .glide__arrows.productsSlider__slider__arrows(data-glide-el="controls")
                        button.glide__arrow.productsSlider__slider__arrow.glide__arrow--left.productsSlider__slider__arrow-left(data-glide-dir='<')
                            img.glide__arrow__img.productsSlider__slider__arrow__img(src='img/arrowWhite.svg')
                        button.glide__arrow.productsSlider__slider__arrow.glide__arrow--right.productsSlider__slider__arrow-right(data-glide-dir='>')
                            img.glide__arrow__img.productsSlider__slider__arrow__img(src='img/arrowWhite.svg')
    include ../../components/formFeedback/FormFeedback
    include ../../chunk/footer/footer

