extends ../../layout/layout
block page
    include ../../chunk/header/header
    section.slider
        .container
            .glide.slider-glide
                .glide__track(data-glide-el="track")
                    .glide__slides
                        .glide__slide
                            img.glide__slide__img(src='img/slide1.webp')
                        .glide__slide
                            img.glide__slide__img(src='img/slide2.webp')
                        .glide__slide
                            img.glide__slide__img(src='img/slide3.webp')
                .glide__arrows(data-glide-el="controls")
                    button.glide__arrow.glide__arrow--left(data-glide-dir='<')
                    button.glide__arrow.glide__arrow--right(data-glide-dir='>')
                .glide__bullets(data-glide-el="controls[nav]")
                    button.glide__bullet.slider-glide__bullet(data-glide-dir='=0')
                    button.glide__bullet.slider-glide__bullet(data-glide-dir='=1')
                    button.glide__bullet.slider-glide__bullet(data-glide-dir='=2')
