extends ../../layout/layout
block page
    include ../../chunk/header/header
    main.main
        include ../../components/previewSlider/PreviewSlider
        .container
            .main__blocks
                a.main__blocks__item
                    img.main__blocks__item__img(src='img/blockImg1.webp' alt='image')
                    p.main__blocks__item__text
                        | Пошив тканей
                a.main__blocks__item
                    img.main__blocks__item__img(src='img/blockImg2.webp' alt='image')
                    p.main__blocks__item__text
                        | Все ткани
                a.main__blocks__item
                    img.main__blocks__item__img(src='img/blockImg3.webp' alt='image')
                    p.main__blocks__item__text
                        | Дизайнерский подход
        include ../../components/allProducts/AllProducts
        include ../../components/productWithDiscount/ProductWithDiscount
        include ../../components/leadersSells/LeadersSells
        include ../../components/shopDescr/ShopDescr
        include ../../templates/popup/popup
    include ../../chunk/footer/footer