extends ../../layout/layout
block page
    include ../../chunk/header/header
    main.main
        include ../../components/previewSlider/PreviewSlider
        .container
            .main__blocks
                a.main__blocks__item
                    img.main__blocks__item__img(src='img/blockImg1.webp')
                    p.main__blocks__item__text
                        | Новогодние ткани
                a.main__blocks__item
                    img.main__blocks__item__img(src='img/blockImg2.webp')
                    p.main__blocks__item__text
                        | Все ткани
                a.main__blocks__item
                    img.main__blocks__item__img(src='img/blockImg3.webp')
                    p.main__blocks__item__text
                        | Новогодние ткани
        include ../../components/allProducts/AllProducts