//vars

$colorSilderBuller: #9f2925;


//slider
.slider {

  margin-top: 300px;


}

.slider-guide {


}
.glide__bullet.slider-glide__bullet.glide__bullet--active {
      background-color: $colorSilderBuller;
}
