section.feedBack
    .container
        .feedBack_wrapper
            .feedback__text
                h3.feedback__title
                    | Мы открыты для своих покупателей
                    br
                    | Поэтому вы всегда можете:
            .feedback__form
                .feedback__form__wrapper
                    input.feedback__form__input(type='number' placeholder='Введите ваш телефон')
                    textarea.feedback__form__textarea(placeholder='Напишите свой вопрос')
                    button.feedback__form__button
                        | Задать вопрос
