.accordion.orderMake__accordion
    .accordion__wrapper
        .accordion__item
            .accordion__item__header.activeItemAccordion
                .accordion__item__header__number
                    | 1
                h1.accordion__item__header__title
                    | Регион доставки
            .accordion__item__body
                .accordion__item__content
                    p.accordion__item__body__text
                        | Город доставки
                    input(placeholder='Введите название', type='text')
                .accordion__item__body__footer
                    .accordion__item__body__footer__btns--first
                        button.accordion__item__body__footer__btns__next
                            | Далее
        .accordion__item
            .accordion__item__header
                .accordion__item__header__number
                    | 2
                h1.accordion__item__header__title
                    | Доставка
            .accordion__item__body
                | sdfnsfnsdjfsdjflsdjf
                .accordion__item__body__footer
                    .accordion__item__body__footer__btns
                        button.accordion__item__body__footer__btns__prev
                            | Назад
                        button.accordion__item__body__footer__btns__next
                            | Далее
        .accordion__item
            .accordion__item__header
                .accordion__item__header__number
                    | 3
                h1.accordion__item__header__title
                    | Оплата
            .accordion__item__body
                | sdfnsfnsdjfsdjflsdjf
                .accordion__item__body__footer
                    .accordion__item__body__footer__btns
                        button.accordion__item__body__footer__btns__prev
                            | Назад
                        button.accordion__item__body__footer__btns__next
                            | Далее
        .accordion__item
            .accordion__item__header
                .accordion__item__header__number
                    | 4
                h1.accordion__item__header__title
                    | Покупатель
            .accordion__item__body
                | sdfnsfnsdjfsdjflsdjf
                .accordion__item__body__footer
                    .accordion__item__body__footer__btns
                        button.accordion__item__body__footer__btns__prev
                            | Назад
                        button.accordion__item__body__footer__btns__next
                            | Далее
        .accordion__item
            .accordion__item__header
                .accordion__item__header__number
                    | 5
                h1.accordion__item__header__title
                    | Товары в заказе
            .accordion__item__body
                | sdfnsfnsdjfsdjflsdjf
                .accordion__item__body__footer
                    .accordion__item__body__footer__btns--last
                        button.accordion__item__body__footer__btns__prev
                            | Назад