extends ../../layout/layout
block page
    include ../../chunk/header/header
    section.orderMake
        .container
            include ../../components/accordion/Accordion
    include ../../chunk/footer/footer