@charset "UTF-8";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-family: Roboto, sans-serif;
  min-width: 100vw;
  height: 100%;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

.logo {
  width: 275px;
  height: 66px;
}

.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-transform: scale(1.7);
  -ms-transform: scale(1.7);
  transform: scale(1.7);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
}

main {
  min-height: 100vh;
}

.titleSection {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
  position: relative;
  color: #8b008b;
  width: 250px;
  margin: 0 auto 30px auto;
}

.titleSection:before {
  content: "";
  display: block;
  position: absolute;
  left: -110px;
  top: 22px;
  width: 100%;
  height: 3px;
  background: url("../img/title_line.svg") no-repeat;
}

.titleSection:after {
  content: "";
  display: block;
  position: absolute;
  right: -110px;
  top: 22px;
  width: 100%;
  height: 3px;
  background: url("../img/title_line.svg") no-repeat;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.glide__slide.productsSlider__slider__slide.glide__slide--active:hover .card__blockImg__switchesImgs {
  grid-template-areas: "imgMain img1" "imgMain img2" "imgMain img3";
}

.glide__slide.productsSlider__slider__slide.glide__slide--active:hover .card {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

.glide__slides.productsSlider__slides {
  overflow: visible;
  height: auto;
}

.glide__track.productsSlider__track {
  height: 700px;
}

.glide.productsSlider__slider {
  position: relative;
}

.glide__arrows.productsSlider__slider__arrows {
  position: absolute;
  top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.glide__arrow__img.productsSlider__slider__arrow__img {
  width: 10px;
  height: 6px;
}

.glide__arrow.productsSlider__slider__arrow {
  background-color: #8b008b;
  border-radius: 50%;
  border: 5px solid #fff;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.glide__arrow--left.productsSlider__slider__arrow-left img {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.glide__arrow--right.productsSlider__slider__arrow-right img {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.glide__arrow--left.productsSlider__slider__arrow-left {
  left: -10px;
}

.glide__arrow--right.productsSlider__slider__arrow-right {
  right: -20px;
}

.hide-list {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 4px #000;
  box-shadow: 0 0 4px #000;
  height: auto;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  z-index: 3;
  padding: 10px;
}

.hide-list__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.hide-list.activeHideMenu {
  visibility: visible;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  opacity: 100%;
}

.burgerMenu {
  position: fixed;
  top: 84px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 100;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  overflow-y: scroll;
  padding-bottom: 100px;
  height: 100vh;
}

.burgerMenu__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #6d6d6d;
  text-align: center;
  padding: 20px 15px 70px;
}

.burgerMenu__number a {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: #8b008b;
}

.burgerMenu__searchForm.header__searchForm {
  width: 100%;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.burgerMenu__item {
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  height: auto;
  min-height: 52px;
  position: relative;
  padding: 5px 10px;
}

.burgerMenu__navItem {
  width: 100%;
  border-bottom: 1px solid #f0f0f0;
  height: auto;
  min-height: 52px;
  position: relative;
  padding: 5px 10px;
}

.burgerMenu__navItem:after {
  content: "";
  background: url("../img/arrowBurger.svg") no-repeat;
  background-size: cover;
  width: 11px;
  height: 11px;
  position: absolute;
  right: 10px;
  top: 10px;
  -webkit-transform: translateX(-50%) rotate(-90deg);
  -ms-transform: translateX(-50%) rotate(-90deg);
  transform: translateX(-50%) rotate(-90deg);
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.burgerMenu__item.burger__dropDown:after {
  content: "";
  background: url("../img/arrowBurger.svg") no-repeat;
  background-size: cover;
  width: 11px;
  height: 11px;
  position: absolute;
  right: 10px;
  top: 10px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.burgerMenu__item.burger__dropDown.activeDropDown:after {
  -webkit-transform: translate(-50%) rotate(180deg);
  -ms-transform: translate(-50%) rotate(180deg);
  transform: translate(-50%) rotate(180deg);
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.burgerMenu__link {
  font-size: 14px;
  color: #000;
}

.burgerMenu__dropDown__hideList {
  height: 0;
  overflow: hidden;
}

.burgerMenu__dropDown__hideList.activeDropDown {
  height: auto;
}

.burgerMenu__dropDown__item {
  margin-left: 20px;
  padding: 15px;
  border-bottom: 1px solid #f0f0f0;
}

.burgerMenu__dropDown__link {
  font-size: 14px;
  color: #000;
}

.burgerMenu.activeBurger {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

body.activeBurger {
  overflow-y: hidden;
}

.header {
  width: 100%;
}

.header__topLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  position: relative;
}

.header__topLine__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 100%;
  -webkit-box-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
}

.header__topLine__logo {
  display: none;
}

.header__topLine__navLink {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.header__topLine__favorites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  -webkit-box-flex: 25%;
  -ms-flex: 25%;
  flex: 25%;
}

.header__topLine__favoritesIcon {
  width: 100%;
  height: 100%;
}

.header__topLine__favoritesLink {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__topLine__favoritesText {
  margin-left: 10px;
}

.header__topLine__number {
  -webkit-box-flex: 25%;
  -ms-flex: 25%;
  flex: 25%;
}

.header__topLine__number a {
  text-decoration: none;
  color: #8b008b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.header__topLine:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -50%;
  width: 200vw;
  height: 1px;
  background: #f0f0f0;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 0;
}

.header__searchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 45px;
  width: 325px;
}

.header__searchForm__input {
  width: 100%;
  height: 100%;
  border: 1px solid #f0f0f0;
  padding: 0 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  outline: none;
}

.header__searchForm__button {
  min-width: 45px;
  height: 100%;
  border: none;
  background: #4b0082;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__searchForm__buttonIcon {
  width: 15px;
  height: 15px;
}

.header__userBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 250px;
}

.header__userBlock__authLink {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
}

.header__userBlock__authLink:nth-child(1) {
  margin-right: 20px;
}

.header__userBlock__authLink:nth-child(1):before {
  content: "";
  background: url("../img/profileIcon.svg") no-repeat;
  background-size: 15px 15px !important;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -30px;
  width: 15px;
  height: 17px;
}

.header__userBlock__authLink:nth-child(2):before {
  content: "";
  width: 1px;
  height: 10px;
  background: #d0d0d0;
  position: absolute;
  left: -10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header__userBlock__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
}

.header__userBlock__cartLink {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 100%;
}

.header__userBlock__cartText {
  color: #8b008b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.header__userBlock__cartText:before {
  content: "";
  background: url("../img/cartIcon.svg") no-repeat;
  background-size: 22px 22px !important;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: -35px;
  width: 22px;
  height: 22px;
}

.header__userBlock__cartPrice {
  color: #000;
}

.header__userBlock__positions {
  padding: 0 5px 1px;
  border-radius: 11px;
  background-color: #f0f0f0;
  width: auto;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0;
  background-color: #8b008b;
  width: 100vw;
  height: 60px;
}

.header__menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.header__menu__link {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.header__menu__link.activeHideList:hover:after {
  -webkit-transform: rotate(180deg) translateY(5px);
  -ms-transform: rotate(180deg) translateY(5px);
  transform: rotate(180deg) translateY(5px);
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  bottom: 8px;
  background: url("../img/arrowHideListsGold.svg") no-repeat;
}

.header__menu__link:hover {
  color: #BB9D60;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.header__menu__link.activeHideList:after {
  content: "";
  background: url("../img/arrowWhite.svg") no-repeat;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -20px;
  width: 12px;
  height: 8px;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.burgerBtn {
  width: 40px;
  height: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: none;
}

.burgerBtn__line {
  width: 100%;
  height: 3px;
  background-color: #000;
  margin-bottom: 5px;
  border-radius: 5px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.burgerBtn.activeBurger .burgerBtn__line:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(11px);
  -ms-transform: rotate(45deg) translateY(11px);
  transform: rotate(45deg) translateY(11px);
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.burgerBtn.activeBurger .burgerBtn__line:nth-child(2) {
  opacity: 0;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.burgerBtn.activeBurger .burgerBtn__line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-11px);
  -ms-transform: rotate(-45deg) translateY(-11px);
  transform: rotate(-45deg) translateY(-11px);
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.footer {
  background-color: #8b008b;
  width: 100vw;
  height: auto;
  padding: 50px 0 40px 0;
  position: relative;
  bottom: 0;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 150px;
}

.footer__blockProducts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 50px;
}

.footer__listsNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px 0;
}

.footer__navLink {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px 0;
}

.footer__number {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: end;
}

.footer__number__link {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}

.footer__socialNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__socialLink {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
}

.popup__content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 500px;
  width: 100%;
  position: relative;
  z-index: 11;
}

.popup__content__title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.popup__content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.popup__content__info__img {
  width: 100px;
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 20px;
}

.popup__content__info__img img {
  width: 100%;
  height: 100%;
}

.popup__content__info__name {
  font-size: 18px;
  font-weight: 700;
}

.popup__content__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
}

.popup__content__btns__continue {
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
  transition: 0.3s all;
}

.popup__content__btns__continue:hover {
  background-color: #000;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  color: #fff;
}

.popup__content__btns__goCart {
  padding: 10px 20px;
  background-color: #4b0082;
  border: 0;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.popup__content__btns__goCart a {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.popup__content__btns__goCart:hover {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  opacity: 80%;
}

.activePopup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  margin-top: 30px;
}

.slider__title {
  display: block;
  color: #8b008b;
  font-size: 32px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 30px;
  text-align: center;
}

.glide__bullet.slider-glide__bullet.glide__bullet--active {
  background-color: #8b008b;
}

.glide__arrow__img.slider-glide__arrow__img {
  width: 10px;
  height: 6px;
}

.glide__arrow.slider-guide__arrow {
  background-color: #8b008b;
  border-radius: 50%;
  border: 5px solid #fff;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.glide__arrow--left.slider-guide__arrow-left img {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.glide__arrow--right.slider-guide__arrow-right img {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.glide__arrow--left.slider-guide__arrow-left {
  left: -20px;
}

.glide__arrow--right.slider-guide__arrow-right {
  right: -20px;
}

.glide__slide.previewSlider__slide {
  height: auto;
}

.glide__slide.previewSlider__slide img {
  width: 100%;
  height: auto;
  -o-object-fit: fill;
  object-fit: fill;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 22px 0 25px 0;
  max-width: 255px;
  min-width: 160px;
  width: 100%;
}

.counter__btn {
  min-width: 42px;
  height: 42px;
  background-color: #f0f0f0;
  font-size: 24px;
  color: #a0a0a0;
  border: none;
}

.counter__input {
  outline: none;
  border: 1px solid #f0f0f0;
  text-align: right;
  padding: 0 15px;
  width: 100%;
}

.card {
  width: 224px;
  height: 320px;
  padding: 10px 10px 0 0;
  position: relative;
  z-index: 4;
}

.card__blockImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card__blockImg__switchesImgs {
  display: grid;
  grid-template-areas: "img1 imgMain" "img2 imgMain" "img3 imgMain";
  gap: 20px 20px;
}

.card__blockImg__switchesImgs__img {
  width: 63px;
  height: 63px;
  -o-object-fit: cover;
  object-fit: cover;
  grid-area: imgs;
  display: none;
}

.card__blockImg__switchesImgs__img:nth-child(1) {
  grid-area: img1;
}

.card__blockImg__switchesImgs__img:nth-child(2) {
  grid-area: img2;
}

.card__blockImg__switchesImgs__img:nth-child(3) {
  grid-area: img3;
}

.card__blockImg__switchesImgs__mainImg {
  grid-area: imgMain;
  width: 180px;
  height: 240px;
  position: relative;
  z-index: 1;
}

.card__blockImg__switchesImgs__mainImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card__blockImg__switchesImgs__mainImg a {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.card__blockImg__switchesImgs__mainImg:after {
  content: "Скидка 10%";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 116px;
  height: 18px;
  padding: 7px 0;
  text-align: center;
  background-color: #bb9d60;
  color: #8b008b;
}

.card__blockImg__switchesImgs__img:hover {
  cursor: pointer;
  padding: 5px;
  border: 2px solid #8b008b;
  -webkit-transform: scale(1.18);
  -ms-transform: scale(1.18);
  transform: scale(1.18);
}

.card__blockImg__switchesImgs__img:nth-child(1):hover ~ .card__blockImg__switchesImgs__mainImg {
  background: url("../img/card1MainImg.webp") no-repeat;
  background-size: cover;
}

.card__blockImg__switchesImgs__img:nth-child(2):hover ~ .card__blockImg__switchesImgs__mainImg {
  background: url("../img/card1Img2.webp") no-repeat;
  background-size: cover;
}

.card__blockImg__switchesImgs__img:nth-child(3):hover ~ .card__blockImg__switchesImgs__mainImg {
  background: url("../img/card1Img3.webp") no-repeat;
  background-size: cover;
}

.card__blockInfo__title {
  font-size: 12px;
  padding-top: 7px;
  line-height: 1.4;
  word-break: break-word;
  color: #000;
  margin-bottom: 10px;
}

.card__blockInfo__price {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
}

.card__blockInfo__price__new {
  color: #8b008b;
}

.card__blockInfo__price__prev {
  text-decoration: line-through;
  color: #6d6d6d;
}

.card__blockInfo__table {
  display: none;
}

.card__blockInfo__table__row {
  border: 1px solid #f0f0f0;
}

.card__blockInfo__table__row__cell {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  padding: 6px 10px;
  border-left: 1px solid #f0f0f0;
}

.card__blockInfo__btns {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0 10px;
}

.card__blockInfo__btns__btn {
  padding: 0 5px;
  background-color: #8b008b;
  border: none;
  width: 197px;
  height: 48px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
}

.card__blockInfo__btns__btn:hover {
  opacity: 50%;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.card:hover .card__blockImg__switchesImgs img {
  display: block;
}

.card:hover {
  width: 300px;
  height: auto;
  background-color: #fff;
  -webkit-transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  transform: translateX(-60px);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 5;
  border-radius: 5px;
  padding: 20px 35px 10px 10px;
}

.card:hover .card__blockInfo__table {
  display: table;
  border: 1px solid #f0f0f0;
  border-collapse: collapse;
}

.card .counter {
  display: none;
}

.card:hover .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card:hover .card__blockInfo__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.allProducts {
  width: 100%;
}

.prodsDiscount {
  margin-top: -80px;
  position: relative;
  z-index: -1;
}

.prodsDiscount__title {
  width: 350px;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 22px 0 25px 0;
  max-width: 255px;
  min-width: 160px;
  width: 100%;
}

.counter__btn {
  min-width: 42px;
  height: 42px;
  background-color: #f0f0f0;
  font-size: 24px;
  color: #a0a0a0;
  border: none;
}

.counter__input {
  outline: none;
  border: 1px solid #f0f0f0;
  text-align: right;
  padding: 0 15px;
  width: 100%;
}

.card {
  width: 224px;
  height: 320px;
  padding: 10px 10px 0 0;
  position: relative;
  z-index: 4;
}

.card__blockImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card__blockImg__switchesImgs {
  display: grid;
  grid-template-areas: "img1 imgMain" "img2 imgMain" "img3 imgMain";
  gap: 20px 20px;
}

.card__blockImg__switchesImgs__img {
  width: 63px;
  height: 63px;
  -o-object-fit: cover;
  object-fit: cover;
  grid-area: imgs;
  display: none;
}

.card__blockImg__switchesImgs__img:nth-child(1) {
  grid-area: img1;
}

.card__blockImg__switchesImgs__img:nth-child(2) {
  grid-area: img2;
}

.card__blockImg__switchesImgs__img:nth-child(3) {
  grid-area: img3;
}

.card__blockImg__switchesImgs__mainImg {
  grid-area: imgMain;
  width: 180px;
  height: 240px;
  position: relative;
  z-index: 1;
}

.card__blockImg__switchesImgs__mainImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card__blockImg__switchesImgs__mainImg a {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.card__blockImg__switchesImgs__mainImg:after {
  content: "Скидка 10%";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 116px;
  height: 18px;
  padding: 7px 0;
  text-align: center;
  background-color: #bb9d60;
  color: #8b008b;
}

.card__blockImg__switchesImgs__img:hover {
  cursor: pointer;
  padding: 5px;
  border: 2px solid #8b008b;
  -webkit-transform: scale(1.18);
  -ms-transform: scale(1.18);
  transform: scale(1.18);
}

.card__blockImg__switchesImgs__img:nth-child(1):hover ~ .card__blockImg__switchesImgs__mainImg {
  background: url("../img/card1MainImg.webp") no-repeat;
  background-size: cover;
}

.card__blockImg__switchesImgs__img:nth-child(2):hover ~ .card__blockImg__switchesImgs__mainImg {
  background: url("../img/card1Img2.webp") no-repeat;
  background-size: cover;
}

.card__blockImg__switchesImgs__img:nth-child(3):hover ~ .card__blockImg__switchesImgs__mainImg {
  background: url("../img/card1Img3.webp") no-repeat;
  background-size: cover;
}

.card__blockInfo__title {
  font-size: 12px;
  padding-top: 7px;
  line-height: 1.4;
  word-break: break-word;
  color: #000;
  margin-bottom: 10px;
}

.card__blockInfo__price {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
}

.card__blockInfo__price__new {
  color: #8b008b;
}

.card__blockInfo__price__prev {
  text-decoration: line-through;
  color: #6d6d6d;
}

.card__blockInfo__table {
  display: none;
}

.card__blockInfo__table__row {
  border: 1px solid #f0f0f0;
}

.card__blockInfo__table__row__cell {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  padding: 6px 10px;
  border-left: 1px solid #f0f0f0;
}

.card__blockInfo__btns {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0 10px;
}

.card__blockInfo__btns__btn {
  padding: 0 5px;
  background-color: #8b008b;
  border: none;
  width: 197px;
  height: 48px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
}

.card__blockInfo__btns__btn:hover {
  opacity: 50%;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.card:hover .card__blockImg__switchesImgs img {
  display: block;
}

.card:hover {
  width: 300px;
  height: auto;
  background-color: #fff;
  -webkit-transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  transform: translateX(-60px);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 5;
  border-radius: 5px;
  padding: 20px 35px 10px 10px;
}

.card:hover .card__blockInfo__table {
  display: table;
  border: 1px solid #f0f0f0;
  border-collapse: collapse;
}

.card .counter {
  display: none;
}

.card:hover .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card:hover .card__blockInfo__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.leadersSells {
  width: 100%;
  height: auto;
  background-color: rgba(187, 157, 96, 0.1);
  padding: 50px 0 120px 0;
  margin-bottom: 80px;
}

.leadersSells__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 120px 30px;
}

.leadersSells__item {
  position: relative;
  width: 200px;
  height: auto;
}

.shopDescr {
  margin: 55px 0 75px 0;
}

.shopDescr__title {
  width: 100%;
  max-width: 800px;
}

.shopDescr__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px 30px;
  margin: 75px 0 0 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.shopDescr__block {
  max-width: 320px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 0 20px;
}

.main {
  position: relative;
  z-index: 1;
  width: 100%;
}

.main__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 30px;
  margin: 30px 0 40px 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main__blocks__item {
  width: 400px;
  height: 240px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.main__blocks__item__img {
  width: 100%;
  height: 180px;
  -o-object-fit: fill;
  object-fit: fill;
}

.main__blocks__item:nth-child(2) img {
  -o-object-fit: fill;
  object-fit: fill;
}

.main__blocks__item:nth-child(3) img {
  -o-object-fit: fill;
  object-fit: fill;
}

.main__blocks__item__text {
  text-align: center;
  padding: 10px 5px 11px;
  font-size: 14px;
  text-transform: uppercase;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 22px 0 25px 0;
  max-width: 255px;
  min-width: 160px;
  width: 100%;
}

.counter__btn {
  min-width: 42px;
  height: 42px;
  background-color: #f0f0f0;
  font-size: 24px;
  color: #a0a0a0;
  border: none;
}

.counter__input {
  outline: none;
  border: 1px solid #f0f0f0;
  text-align: right;
  padding: 0 15px;
  width: 100%;
}

.feedback {
  background-color: #f1ebdf;
  width: 100vw;
  height: auto;
  padding: 45px 0 50px 0;
}

.feedback__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.feedback__title {
  margin-bottom: 40px;
}

.feedback__text {
  -webkit-box-flex: 50%;
  -ms-flex: 50%;
  flex: 50%;
}

.feedback__list__item {
  list-style: none;
}

.feedback__list__item::before {
  content: "•";
  color: #8b008b;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.feedback__list__item:nth-child(1) span {
  color: #8b008b;
  font-size: 26px;
}

.feedback__form {
  min-width: 400px;
  height: auto;
  background-color: #fff;
  padding: 35px 50px 35px 50px;
}

.feedback__form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 25px 0;
}

.feedback__form__input {
  padding: 25px 25px 8px;
  font-size: 16px;
  display: inline-block;
  height: 56px;
  border: 1px solid #f0f0f0;
  color: #000;
  background: 0 0;
  outline: none;
}

.feedback__form__textarea {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 25px 25px 8px;
  font-size: 16px;
  display: inline-block;
  border: 1px solid #f0f0f0;
  color: #000;
  background: 0 0;
  outline: none;
}

.feedback__form__button {
  background: #8b008b;
  color: #fff;
  width: 100%;
  height: 48px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  outline: none;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.feedback__form__button:hover {
  opacity: 50%;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 22px 0 25px 0;
  max-width: 255px;
  min-width: 160px;
  width: 100%;
}

.counter__btn {
  min-width: 42px;
  height: 42px;
  background-color: #f0f0f0;
  font-size: 24px;
  color: #a0a0a0;
  border: none;
}

.counter__input {
  outline: none;
  border: 1px solid #f0f0f0;
  text-align: right;
  padding: 0 15px;
  width: 100%;
}

.card {
  width: 224px;
  height: 320px;
  padding: 10px 10px 0 0;
  position: relative;
  z-index: 4;
}

.card__blockImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card__blockImg__switchesImgs {
  display: grid;
  grid-template-areas: "img1 imgMain" "img2 imgMain" "img3 imgMain";
  gap: 20px 20px;
}

.card__blockImg__switchesImgs__img {
  width: 63px;
  height: 63px;
  -o-object-fit: cover;
  object-fit: cover;
  grid-area: imgs;
  display: none;
}

.card__blockImg__switchesImgs__img:nth-child(1) {
  grid-area: img1;
}

.card__blockImg__switchesImgs__img:nth-child(2) {
  grid-area: img2;
}

.card__blockImg__switchesImgs__img:nth-child(3) {
  grid-area: img3;
}

.card__blockImg__switchesImgs__mainImg {
  grid-area: imgMain;
  width: 180px;
  height: 240px;
  position: relative;
  z-index: 1;
}

.card__blockImg__switchesImgs__mainImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card__blockImg__switchesImgs__mainImg a {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.card__blockImg__switchesImgs__mainImg:after {
  content: "Скидка 10%";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 116px;
  height: 18px;
  padding: 7px 0;
  text-align: center;
  background-color: #bb9d60;
  color: #8b008b;
}

.card__blockImg__switchesImgs__img:hover {
  cursor: pointer;
  padding: 5px;
  border: 2px solid #8b008b;
  -webkit-transform: scale(1.18);
  -ms-transform: scale(1.18);
  transform: scale(1.18);
}

.card__blockImg__switchesImgs__img:nth-child(1):hover ~ .card__blockImg__switchesImgs__mainImg {
  background: url("../img/card1MainImg.webp") no-repeat;
  background-size: cover;
}

.card__blockImg__switchesImgs__img:nth-child(2):hover ~ .card__blockImg__switchesImgs__mainImg {
  background: url("../img/card1Img2.webp") no-repeat;
  background-size: cover;
}

.card__blockImg__switchesImgs__img:nth-child(3):hover ~ .card__blockImg__switchesImgs__mainImg {
  background: url("../img/card1Img3.webp") no-repeat;
  background-size: cover;
}

.card__blockInfo__title {
  font-size: 12px;
  padding-top: 7px;
  line-height: 1.4;
  word-break: break-word;
  color: #000;
  margin-bottom: 10px;
}

.card__blockInfo__price {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
}

.card__blockInfo__price__new {
  color: #8b008b;
}

.card__blockInfo__price__prev {
  text-decoration: line-through;
  color: #6d6d6d;
}

.card__blockInfo__table {
  display: none;
}

.card__blockInfo__table__row {
  border: 1px solid #f0f0f0;
}

.card__blockInfo__table__row__cell {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  padding: 6px 10px;
  border-left: 1px solid #f0f0f0;
}

.card__blockInfo__btns {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0 10px;
}

.card__blockInfo__btns__btn {
  padding: 0 5px;
  background-color: #8b008b;
  border: none;
  width: 197px;
  height: 48px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
}

.card__blockInfo__btns__btn:hover {
  opacity: 50%;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.card:hover .card__blockImg__switchesImgs img {
  display: block;
}

.card:hover {
  width: 300px;
  height: auto;
  background-color: #fff;
  -webkit-transform: translateX(-60px);
  -ms-transform: translateX(-60px);
  transform: translateX(-60px);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 5;
  border-radius: 5px;
  padding: 20px 35px 10px 10px;
}

.card:hover .card__blockInfo__table {
  display: table;
  border: 1px solid #f0f0f0;
  border-collapse: collapse;
}

.card .counter {
  display: none;
}

.card:hover .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card:hover .card__blockInfo__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productPage {
  margin: 100px 0 80px 0;
  width: 100%;
  position: relative;
}

.productPage__product {
  margin-bottom: 80px;
}

.productPage__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: auto;
  gap: 0 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.productPage__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px 0;
}

.productPage__imgs {
  display: grid;
  grid-template-areas: "imgMain imgMain imgMain" "img1 img2 img3";
  gap: 10px;
}

.productPage__imgs__mainImg {
  grid-area: imgMain;
  width: 360px;
  height: 480px;
  -o-object-fit: cover;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.productPage__imgs__mainImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.productPage__imgs__smallImg {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
  object-fit: cover;
}

.productPage__imgs__smallImg:hover {
  cursor: pointer;
  padding: 5px;
  border: 2px solid #8b008b;
  -webkit-transform: scale(1.18);
  -ms-transform: scale(1.18);
  transform: scale(1.18);
}

.productPage__imgs__smallImg:nth-child(1) {
  grid-area: img1;
}

.productPage__imgs__smallImg:nth-child(2) {
  grid-area: img2;
}

.productPage__imgs__smallImg:nth-child(3) {
  grid-area: img3;
}

.productPage__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productPage__choice {
  background-color: rgba(187, 157, 96, 0.1);
  width: 310px;
  height: auto;
}

.productPage__choice__wrapper {
  padding: 20px 25px 22px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.productPage__choice__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0 10px;
}

.productPage__choice__btns__btn {
  padding: 0 5px;
  background-color: #8b008b;
  border: none;
  width: 197px;
  height: 48px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.productPage__choice__btns__btn:hover {
  opacity: 50%;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.productPage__choice__btns__btn a {
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 0 5px;
  color: #fff;
}

.productPage__table {
  display: table;
}

.productPage__table__row {
  border: 1px solid #f0f0f0;
}

.productPage__table__cell {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  padding: 6px 10px;
  border-left: 1px solid #f0f0f0;
}

.productPage__features {
  background-color: rgba(187, 157, 96, 0.1);
  width: 100%;
  height: auto;
}

.productPage__features__wrapper {
  padding: 32px 34px 32px 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.productPage__features__wrapper__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.productPage__features__wrapper__item__text {
  margin-top: 10px;
  text-align: center;
}

.productPage__list {
  width: 100%;
}

.map {
  width: 100%;
  height: 500px;
  background-color: #333;
}

[class*=copyrights-pane] {
  display: none !important;
}

.contactsPage {
  width: 100%;
}

.reviews {
  width: 100%;
}

.delivery {
  width: 100%;
}

.payment {
  width: 100%;
}

.howToBuy {
  width: 100%;
}

.cart {
  width: 100%;
  min-height: 100vh;
}

.cart__wrapper {
  margin: 50px 0 0 0;
}

.cart__title {
  margin-bottom: 30px;
}

.cart__content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 0 20px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.cart__content__text {
  margin-bottom: 40px;
}

.cart__content__right {
  position: sticky;
  top: 0;
}

.cart__content__tableCart {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 10px;
}

.cart__content__tableCart__head {
  background-color: #f0f0f0;
  height: 60px;
}

.cart__content__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
}

.cart__content__tableCart__cell {
  height: auto;
  text-align: center;
}

.cart__content__tableCart__cell__delete {
  color: indigo;
  border-bottom: 2px dashed indigo;
  cursor: pointer;
}

.cart__content__tableCart__cell:nth-child(4) {
  width: 100px;
}

.cart__content__tableCart__cell img {
  width: 120px;
  height: 150px;
}

.cart__content__cartInfo {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px 0;
  width: 400px;
  height: 300px;
  background: rgba(187, 157, 96, 0.1);
}

.cart__content__cartInfo__btn {
  margin-top: 40px;
  padding: 10px 20px;
  background-color: #8b008b;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
}

.cart__content__cartInfo__btn:hover {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  opacity: 80%;
}

.accordion {
  width: 100%;
  min-height: 100vh;
  max-width: 845px;
}

.accordion__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.accordion__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 1px solid #91cedc;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.accordion__item__input {
  width: 100%;
  height: 60px;
  color: #555;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  padding: 10px 10px 10px 40px;
  position: relative;
}

.accordion__item__input:before {
  content: "";
  background: url("../img/filter-search.svg") no-repeat;
  width: 20px;
  height: 20px;
  z-index: 1;
  position: absolute;
  bottom: 10px;
  left: 50px;
}

.accordion__item__deliveryBlock,
.accordion__item__paymentBlock {
  width: 100%;
  padding: 10px;
}

.accordion__item__deliveryWays,
.accordion__item__paymentWays {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px 20px;
}

.accordion__item__deliveryWays__way__block,
.accordion__item__paymentWays__way__block {
  width: 140px;
  height: 70px;
  border: 1px solid #91cedc;
}

.accordion__item__deliveryWays__way__block img,
.accordion__item__paymentWays__way__block img {
  width: 56px;
  height: 56px;
}

.accordion__item__header {
  width: 100%;
  height: auto;
  background-color: #f2f5f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0 10px;
}

.accordion__item__header__number {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid #98979d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.accordion__item__body {
  width: 100%;
  visibility: hidden;
  height: 0;
  min-height: 0;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.accordion__item__body__footer {
  width: 100%;
  border-top: 1px solid #000;
}

.accordion__item__body__footer__btns,
.accordion__item__body__footer__btns--first,
.accordion__item__body__footer__btns--last {
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.accordion__item__body__footer__btns__next,
.accordion__item__body__footer__btns__prev,
.accordion__item__body__footer__btns--first__next,
.accordion__item__body__footer__btns--first__prev,
.accordion__item__body__footer__btns--last__next,
.accordion__item__body__footer__btns--last__prev {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  background-color: indigo;
  color: #fff;
  border: none;
  cursor: pointer;
}

.accordion__item__body__footer__btns--first {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.accordion__item__body__footer__btns--last {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.accordion__item__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px 0;
  padding: 20px;
}

.accordion__item__form__label input {
  width: 100%;
  height: 30px;
  color: #555;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  padding: 5px;
  position: relative;
}

.accordion__item__form__label textarea {
  padding: 10px;
  max-width: 100%;
  min-width: 100%;
  max-height: 400px;
  min-height: 100px;
}

.accordion__item__form__address {
  height: 90px;
}

.accordion__item__form__comment {
  height: 40px;
}

.accordion__item__form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.accordion__item__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px 0;
}

.accordion__item__order__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 0 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.accordion__item__order__item__img img {
  width: 70px;
  height: 72px;
}

.accordion__item__order__item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 40px;
  width: 100%;
}

.accordion__item__header.activeItemAccordion ~ .accordion__item__body {
  height: auto;
  min-height: 200px;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  visibility: visible;
  opacity: 1;
}

.accordion__item.passedItem {
  border: 2px solid #356511;
}

.orderMake__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 100px;
}

.orderMake__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px 0;
  width: 265px;
  height: 265px;
  border: 1px solid #000;
  padding: 10px;
}

.glide {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.glide * {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.glide__track {
  overflow: hidden;
}

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -ms-touch-action: pan-Y;
  touch-action: pan-Y;
  overflow: hidden;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  will-change: transform;
}

.glide__slides--dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.glide__slide {
  width: 100%;
  height: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  white-space: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.glide__slide a {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.glide__arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.glide__bullets {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.glide--rtl {
  direction: rtl;
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  -webkit-transition: opacity 150ms ease, border 300ms ease-in-out;
  -o-transition: opacity 150ms ease, border 300ms ease-in-out;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  line-height: 1;
}

.glide__arrow:focus {
  outline: none;
}

.glide__arrow:hover {
  border-color: white;
}

.glide__arrow--left {
  left: 2em;
}

.glide__arrow--right {
  right: 2em;
}

.glide__arrow--disabled {
  opacity: 0.33;
}

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}

.glide__bullet:focus {
  outline: none;
}

.glide__bullet:hover,
.glide__bullet:focus {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}

.glide__bullet--active {
  background-color: white;
}

.glide--swipeable {
  cursor: grab;
  cursor: -webkit-grab;
}

.glide--dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

@supports (-webkit-appearance:none) {
  .titleSection:before {
    background: url("../img/title_line.svg") no-repeat;
  }

  .titleSection:after {
    background: url("../img/title_line.svg") no-repeat;
  }

  .burgerMenu__navItem:after {
    background: url("../img/arrowBurger.svg") no-repeat;
  }

  .burgerMenu__item.burger__dropDown:after {
    background: url("../img/arrowBurger.svg") no-repeat;
  }

  .header__userBlock__authLink:nth-child(1):before {
    background: url("../img/profileIcon.svg") no-repeat;
  }

  .header__userBlock__cartText:before {
    background: url("../img/cartIcon.svg") no-repeat;
  }

  .header__menu__link.activeHideList:hover:after {
    background: url("../img/arrowHideListsGold.svg") no-repeat;
  }

  .header__menu__link.activeHideList:after {
    background: url("../img/arrowWhite.svg") no-repeat;
  }

  .accordion__item__input:before {
    background: url("../img/filter-search.svg") no-repeat;
  }
}

@media (max-width: 1040px) {
  .shopDescr__wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 40px 30px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1010px) {
  .productPage__wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1000px) {
  .burgerBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: self-end;
    align-self: self-end;
  }

  .header__topLine {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .header__topLine__nav {
    display: none;
  }

  .header__topLine__number {
    display: none;
  }

  .header__topLine__logo {
    display: block;
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
  }

  .header__main {
    display: none;
  }

  .header__menu {
    display: none;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 950px) {
  .main__blocks {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 30px 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .main__blocks__item {
    width: 80%;
    height: auto;
  }

  .main__blocks__item__img {
    -o-object-fit: fill;
    object-fit: fill;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 675px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 50px 0;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 630px) {
  .productPage__data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .productPage__choice {
    width: 100%;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 590px) {
  .main__blocks {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .main__blocks__item {
    width: 70%;
  }

  .main__blocks__item:nth-child(2) img,
  .main__blocks__item:nth-child(3) img {
    -o-object-fit: contain;
    object-fit: contain;
  }

  .main__blocks__item__img {
    -o-object-fit: contain;
    object-fit: contain;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 450px) {
  .leadersSells__wrapper {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .leadersSells__item {
    width: 180px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 380px) {
  .main__blocks__item {
    width: 90%;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 320px) {
  .shopDescr {
    padding: 0 5px;
  }

@supports (-webkit-appearance:none) {

}
}