.footer {

  background-color: #8b008b;
  width: 100vw;
  height: auto;
  padding: 50px 0 40px 0;

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0 150px;
  }
  &__blockProducts {
    display: flex;
    gap: 0 50px;
  }
  &__listsNav {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
  }
  &__navLink {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  &__social {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
  }

  &__number {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: end;
    &__link {
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
    }
  }
  &__socialNav {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__socialLink {
    background-color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
@media (max-width: 675px) {
    .footer {
        &__wrapper {
        flex-direction: column-reverse;
        gap: 50px 0;
        }
        &__blockProducts {

        }

    }

}