footer.footer
    .container
        .footer__wrapper
            .footer__blockProducts
                ul.footer__listsNav
                    li.footer__navItem
                        a.footer__navLink(href='#') 100% хлопок
                    li.footer__navItem
                        a.footer__navLink(href='#') Шторы, тюль, портьеры
                    li.footer__navItem
                        a.footer__navLink(href='#') Натуральные
                    li.footer__navItem
                        a.footer__navLink(href='#') Постельные
                    li.footer__navItem
                        a.footer__navLink(href='#') Детские
                    li.footer__navItem
                        a.footer__navLink(href='#') Эксклюзивные турецкие ткани
                ul.footer__listsNav
                    li.footer__navItem
                        a.footer__navLink(href='#') О магазине
                    li.footer__navItem
                        a.footer__navLink(href='#') Как купить
                    li.footer__navItem
                        a.footer__navLink(href='#') Оплата
                    li.footer__navItem
                        a.footer__navLink(href='#') Доставка
                    li.footer__navItem
                        a.footer__navLink(href='#') Контакты
                    li.footer__navItem
                        a.footer__navLink(href='#') Отзывы
            .footer__social
                .footer__number
                    | Бесплатно по РФ
                    br
                    a.footer__number__link(href='tel:+7(495) 123-45-67') +7 (495) 123-45-67
                .footer__socialNav
                    a.footer__socialLink(href='#')
                        img.footer__socialImg(src='img/vk.svg')
                    a.footer__socialLink(href='#')
                        img.footer__socialImg(src='img/youtube.svg')
                    a.footer__socialLink(href='#')
                        img.footer__socialImg(src='img/telegram.svg')
                    a.footer__socialLink(href='#')
                        img.footer__socialImg(src='img/odnoklassniki.svg')
