@import '../../components/counterCard/CounterCard.scss';


.card {
  width: 224px;
  height: 320px;
  padding: 10px 10px 0 0;
  position: relative;
  z-index: 4;


  &__blockImg {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__switchesImgs {
      display: grid;
      grid-template-areas: "img1 imgMain"
                           "img2 imgMain"
                           "img3 imgMain";
      gap: 20px 20px;

      &__img {
        width: 63px;
        height: 63px;
        object-fit: cover;
        grid-area: imgs;
        display: none;
      }

      &__img:nth-child(1) {
        grid-area: img1;
      }

      &__img:nth-child(2) {
        grid-area: img2;
      }

      &__img:nth-child(3) {
        grid-area: img3;
      }

      &__mainImg {
        grid-area: imgMain;
        width: 180px;
        height: 240px;
        position: relative;
        z-index: 1;
      }
      &__mainImg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &__mainImg a {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;

      }

      &__mainImg:after {
        content: 'Скидка 10%';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 116px;
        height: 18px;
        padding: 7px 0;
        text-align: center;
        background-color: #bb9d60;
        color: #8b008b;
      }

      &__img:hover {
        cursor: pointer;
        padding: 5px;
        border: 2px solid #8b008b;
        transform: scale(1.18);
      }

      &__img:nth-child(1):hover ~ &__mainImg {
        background: url("../img/card1MainImg.webp") no-repeat;
        background-size: cover;

      }

      &__img:nth-child(2):hover ~ &__mainImg {
        background: url("../img/card1Img2.webp") no-repeat;
        background-size: cover;

      }

      &__img:nth-child(3):hover ~ &__mainImg {
        background: url("../img/card1Img3.webp") no-repeat;
        background-size: cover;
      }
    }


  }

  &__blockInfo {
    &__title {
      font-size: 14px;
      padding-top: 7px;
      line-height: 1.4;
      word-break: break-word;

      color: #000;
      margin-bottom: 10px;
    }

    &__price {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 10px;
      display: flex;
      gap: 0 20px;

      &__new {
        color: #8b008b;
      }

      &__prev {
        text-decoration: line-through;
        color: #6d6d6d;
      }


    }

    &__table {
      display: none;

      &__row {
        border: 1px solid #f0f0f0;

        &__cell {

          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 1.5;
          color: #000;
          padding: 6px 10px;
          border-left: 1px solid #f0f0f0;
        }
      }
    }

    &__btns {
      display: none;
      align-items: center;
      justify-content: space-between;

      gap: 0 10px;

      &__btn {
        padding: 0 5px;
        background-color: #8b008b;
        border: none;
        width: 197px;
        height: 48px;
        transition: 0.3s all;

        font-weight: 700;
        text-align: center;
        font-size: 14px;
        letter-spacing: 1px;
        color: #fff;
      }

      &__btn:hover {
        opacity: 50%;
        transition: 0.3s all;
      }

    }
  }

}

.card:hover .card__blockImg__switchesImgs img {
  display: block;
}

.card:hover  {
  width: 300px;
  height: auto;
  background-color: #fff;
  transform: translateX(-60px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 5;
  border-radius: 5px;

  padding: 20px 35px 10px 10px;
}


.card:hover .card__blockInfo__table {
  display: table;
  border: 1px solid #f0f0f0;
  border-collapse: collapse;
}
.card .counter {
  display: none;
}
.card:hover .counter {
  display: flex;
}

.card:hover .card__blockInfo__btns {
  display: flex;
}





