.popup(data-popup-add-cart)
    .popup__content
        h1.popup__content__title
            | Товар добавлен в корзину
        .popup__content__info
            .popup__content__info__img
                img(src="img/popupImg.webp" alt="image")
            p.popup__content__info__name
                | Название товара
        .popup__content__btns
            button.popup__content__btns__continue
                | Продолжить покупки
            button.popup__content__btns__goCart
                a(href='CartPage.html') Перейти в корзину
