extends ../../layout/layout
block page
    include ../../chunk/header/header
    main.contactsPage
        include ../../components/formFeedback/FormFeedback
        .container
            include  ../../components/YandexMap/YandexMap
    include ../../chunk/footer/footer