* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: $widthContainer;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-family: Roboto, sans-serif;
  min-width: 100vw;

}

html, body {
  width: 100%;
  overflow-x: hidden
}

.logo {
  width: 275px;
  height: 66px;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(1.7);

  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul, li {
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
}

.titleSection {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
  position: relative;
  color: #8b008b;
  width: 250px;
  margin: 0 auto 30px auto;

}

.titleSection:before {
  content: '';
  display: block;
  position: absolute;
  left: -110px;
  top: 22px;
  width: 100%;
  height: 3px;
  background: url("../img/title_line.svg") no-repeat;
}

.titleSection:after {
  content: '';
  display: block;
  position: absolute;
  right: -110px;
  top: 22px;
  width: 100%;
  height: 3px;
  background: url("../img/title_line.svg") no-repeat;
  transform: rotate(180deg);
}


.glide__slide.productsSlider__slider__slide.glide__slide--active:hover .card__blockImg__switchesImgs {
  grid-template-areas: "imgMain img1"
                          "imgMain img2"
                          "imgMain img3";
}

.glide__slide.productsSlider__slider__slide.glide__slide--active:hover .card {
  transform: translateX(0px);
}


.glide__slides.productsSlider__slides {
  overflow: visible;
  height: auto;
}

.glide__track.productsSlider__track {

  height: 700px;
}

.glide.productsSlider__slider {
  position: relative;
}

.glide__arrows.productsSlider__slider__arrows {
  position: absolute;
  top: 150px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.glide__arrow__img.productsSlider__slider__arrow__img {
  width: 10px;
  height: 6px;
}

.glide__arrow.productsSlider__slider__arrow {
  background-color: #8b008b;
  border-radius: 50%;
  border: 5px solid #fff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.glide__arrow--left.productsSlider__slider__arrow-left img {
  transform: rotate(90deg);

}

.glide__arrow--right.productsSlider__slider__arrow-right img {
  transform: rotate(-90deg);
}

.glide__arrow--left.productsSlider__slider__arrow-left {
  left: -10px;
}

.glide__arrow--right.productsSlider__slider__arrow-right {
  right: -20px;
}
