@import '../../mixins/cardProduct/CardProduct.scss';



.leadersSells {
    width: 100%;
    height: auto;
    background-color: rgba(187,157,96,.1);
    padding: 50px 0 50px 0;
    margin-bottom: 80px;

    &__wrapper {
        display: flex;
        width: inherit;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 60px 30px;
    }

    &__item {
        position: relative;
        width: 200px;
        height: auto;
    }

}