section.leadersSells
    h3.titleSection.leaderSells__title
        | Лидеры продаж
    .container
        .leadersSells__wrapper
            include ../../mixins/cardProduct/CardProduct
            .leadersSells__item
                +CardProduct({
                    link: 'PageProduct.html',
                    img1: 'img/card1MainImg.webp',
                    img2: 'img/card1img2.webp',
                    img3: 'img/card1img3.webp',
                    mainImg: 'img/card1MainImg.webp',
                    title: 'Ткань палаточная с водоотталкивающей пропиткой цв.Суровый, ш.1.55м, хл-100%, 235гр/м.кв',
                    priceNew: '1000 руб.',
                    pricePrev: '2000 руб.'
                })
            .leadersSells__item
                +CardProduct({
                    link: 'PageProduct.html',
                    img1: 'img/card1MainImg.webp',
                    img2: 'img/card1img2.webp',
                    img3: 'img/card1img3.webp',
                    mainImg: 'img/card1MainImg.webp',
                    title: 'Ткань палаточная с водоотталкивающей пропиткой цв.Суровый, ш.1.55м, хл-100%, 235гр/м.кв',
                    priceNew: '1000 руб.',
                    pricePrev: '2000 руб.'
                })
            .leadersSells__item
                +CardProduct({
                    link: 'PageProduct.html',
                    img1: 'img/card1MainImg.webp',
                    img2: 'img/card1img2.webp',
                    img3: 'img/card1img3.webp',
                    mainImg: 'img/card1MainImg.webp',
                    title: 'Ткань палаточная с водоотталкивающей пропиткой цв.Суровый, ш.1.55м, хл-100%, 235гр/м.кв',
                    priceNew: '1000 руб.',
                    pricePrev: '2000 руб.'
                })
            .leadersSells__item
                +CardProduct({
                    link: 'PageProduct.html',
                    img1: 'img/card1MainImg.webp',
                    img2: 'img/card1img2.webp',
                    img3: 'img/card1img3.webp',
                    mainImg: 'img/card1MainImg.webp',
                    title: 'Ткань палаточная с водоотталкивающей пропиткой цв.Суровый, ш.1.55м, хл-100%, 235гр/м.кв',
                    priceNew: '1000 руб.',
                    pricePrev: '2000 руб.'
                })
            .leadersSells__item
                +CardProduct({
                    link: 'PageProduct.html',
                    img1: 'img/card1MainImg.webp',
                    img2: 'img/card1img2.webp',
                    img3: 'img/card1img3.webp',
                    mainImg: 'img/card1MainImg.webp',
                    title: 'Ткань палаточная с водоотталкивающей пропиткой цв.Суровый, ш.1.55м, хл-100%, 235гр/м.кв',
                    priceNew: '1000 руб.',
                    pricePrev: '2000 руб.'
                })
            .leadersSells__item
                +CardProduct({
                    link: 'PageProduct.html',
                    img1: 'img/card1MainImg.webp',
                    img2: 'img/card1img2.webp',
                    img3: 'img/card1img3.webp',
                    mainImg: 'img/card1MainImg.webp',
                    title: 'Ткань палаточная с водоотталкивающей пропиткой цв.Суровый, ш.1.55м, хл-100%, 235гр/м.кв',
                    priceNew: '1000 руб.',
                    pricePrev: '2000 руб.'
                })
            .leadersSells__item
                +CardProduct({
                    link: 'PageProduct.html',
                    img1: 'img/card1MainImg.webp',
                    img2: 'img/card1img2.webp',
                    img3: 'img/card1img3.webp',
                    mainImg: 'img/card1MainImg.webp',
                    title: 'Ткань палаточная с водоотталкивающей пропиткой цв.Суровый, ш.1.55м, хл-100%, 235гр/м.кв',
                    priceNew: '1000 руб.',
                    pricePrev: '2000 руб.'
                })
            .leadersSells__item
                +CardProduct({
                    link: 'PageProduct.html',
                    img1: 'img/card1MainImg.webp',
                    img2: 'img/card1img2.webp',
                    img3: 'img/card1img3.webp',
                    mainImg: 'img/card1MainImg.webp',
                    title: 'Ткань палаточная с водоотталкивающей пропиткой цв.Суровый, ш.1.55м, хл-100%, 235гр/м.кв',
                    priceNew: '1000 руб.',
                    pricePrev: '2000 руб.'
                })
            .leadersSells__item
                +CardProduct({
                    link: 'PageProduct.html',
                    img1: 'img/card1MainImg.webp',
                    img2: 'img/card1img2.webp',
                    img3: 'img/card1img3.webp',
                    mainImg: 'img/card1MainImg.webp',
                    title: 'Ткань палаточная с водоотталкивающей пропиткой цв.Суровый, ш.1.55м, хл-100%, 235гр/м.кв',
                    priceNew: '1000 руб.',
                    pricePrev: '2000 руб.'
                })
            .leadersSells__item
                +CardProduct({
                    link: 'PageProduct.html',
                    img1: 'img/card1MainImg.webp',
                    img2: 'img/card1img2.webp',
                    img3: 'img/card1img3.webp',
                    mainImg: 'img/card1MainImg.webp',
                    title: 'Ткань палаточная с водоотталкивающей пропиткой цв.Суровый, ш.1.55м, хл-100%, 235гр/м.кв',
                    priceNew: '1000 руб.',
                    pricePrev: '2000 руб.'
                })
