section.prodsDiscount
    .container
        h3.titleSection.prodsDiscount__title
            | Товары со скидкой
        include ../../mixins/cardProduct/CardProduct
        .glide.product__slider
            .glide__track.productsSlider__track(data-glide-el="track")
                .glide__slides.productsSlider__slides
                    .glide__slide.productsSlider__slider__slide
                        +CardProduct({
                            link: 'ST3002.html',
                            img1: 'img/ST3002.webp',
                            img2: 'img/ST3003.webp',
                            img3: 'img/ST3004.webp',
                            mainImg: 'img/ST3002.webp',
                            title: 'Гладкий сатин Производитель турция ШИРИНАШИРИНА 240 см громажность 128-130 (м2) состав 100% хлопок. инструкция по стирке ГЛАЖКА ✅ СТИРКА 30 ГРАДУСВОВ СУШКА ✅ ХИМЧИСТКА✅',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })
                    .glide__slide.productsSlider__slider__slide
                        +CardProduct({
                            link: 'ST3005.html',
                            img1: 'img/ST3005.webp',
                            img2: 'img/ST3012.webp',
                            img3: 'img/ST3013.webp',
                            mainImg: 'img/ST3005.webp',
                            title: 'Гладкий сатин Производитель турция ШИРИНАШИРИНА 240 см громажность 128-130 (м2) состав 100% хлопок. инструкция по стирке ГЛАЖКА ✅ СТИРКА 30 ГРАДУСВОВ СУШКА ✅ ХИМЧИСТКА✅',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })
                    .glide__slide.productsSlider__slider__slide
                        +CardProduct({
                            link: 'ST3014.html',
                            img1: 'img/ST3014.webp',
                            img2: 'img/ST3015.webp',
                            img3: 'img/ST3016.webp',
                            mainImg: 'img/ST3014.webp',
                            title: 'Гладкий сатин Производитель турция ШИРИНАШИРИНА 240 см громажность 128-130 (м2) состав 100% хлопок. инструкция по стирке ГЛАЖКА ✅ СТИРКА 30 ГРАДУСВОВ СУШКА ✅ ХИМЧИСТКА✅',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })
                    .glide__slide.productsSlider__slider__slide
                        +CardProduct({
                            link: 'ST3018.html',
                            img1: 'img/ST3018.webp',
                            img2: 'img/ST3019.webp',
                            img3: 'img/ST3020.webp',
                            mainImg: 'img/ST3018.webp',
                            title: 'Гладкий сатин Производитель турция ШИРИНАШИРИНА 240 см громажность 128-130 (м2) состав 100% хлопок. инструкция по стирке ГЛАЖКА ✅ СТИРКА 30 ГРАДУСВОВ СУШКА ✅ ХИМЧИСТКА✅',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })
                    .glide__slide.productsSlider__slider__slide
                        +CardProduct({
                            link: 'ST3022.html',
                            img1: 'img/ST3022.webp',
                            img2: 'img/ST3023.webp',
                            img3: 'img/ST3024.webp',
                            mainImg: 'img/ST3022.webp',
                            title: 'Гладкий сатин Производитель турция ШИРИНАШИРИНА 240 см громажность 128-130 (м2) состав 100% хлопок. инструкция по стирке ГЛАЖКА ✅ СТИРКА 30 ГРАДУСВОВ СУШКА ✅ ХИМЧИСТКА✅',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })

            .glide__arrows.productsSlider__slider__arrows(data-glide-el="controls")
                button.glide__arrow.productsSlider__slider__arrow.glide__arrow--left.productsSlider__slider__arrow-left(data-glide-dir='<')
                    img.glide__arrow__img.productsSlider__slider__arrow__img(src='img/arrowWhite.svg' alt='icon')
                button.glide__arrow.productsSlider__slider__arrow.glide__arrow--right.productsSlider__slider__arrow-right(data-glide-dir='>')
                    img.glide__arrow__img.productsSlider__slider__arrow__img(src='img/arrowWhite.svg' alt='icon')