section.shopDescr
    h3.titleSection.shopDescr__title
        | «СОФИ» – МАГАЗИН НАТУРАЛЬНЫХ ТКАНЕЙ ШИРОКОГО АССОРТИМЕНТА
    .container
        .shopDescr__wrapper
            .shopDescr__block
                img.shopDescr__icon(src='img/national.svg' alt='icon')
                p.shopDescr__text
                    |Ткани с национальными русскими орнаментами и с современными принтами позволяют использовать их для пошива изделий разных стилей и направлений, от одежды до постельного белья и декора для дома
            .shopDescr__block
                img.shopDescr__icon(src='img/layouts.svg' alt='icon')
                p.shopDescr__text
                    | Огромный выбор хлопковых тканей, в том числе и теплый хлопок, вафельная ткань, джинс, фланель, трикотажное полотно, микровельет, штапель, льняные и полульняные ткани, шитье и различная фурнитура
            .shopDescr__block
                img.shopDescr__icon(src='img/woman.svg' alt='icon')
                p.shopDescr__text
                    | На все вопросы отвечает менеджер, который оперативно проконсультирует по ассортименту и наличию, поможет посчитать расход и определиться с доставкой
            .shopDescr__block
                img.shopDescr__icon(src='img/quality.svg' alt='icon')
                p.shopDescr__text
                    | Все товары высочайшего качества различных производителей: России, Белоруссии, Китая
            .shopDescr__block
                img.shopDescr__icon(src='img/lists.svg' alt='icon')
                p.shopDescr__text
                    | Цены на сайте указаны розничные (на любой заказ от 10 см), действует накопительная система скидок
            .shopDescr__block
                img.shopDescr__icon(src='img/car2.svg' alt='icon')
                p.shopDescr__text
                    | Доставка по России и всему миру от 3 дней


