extends ../../layout/layout
block page
    include ../../chunk/header/header
    main.cart
        .container
            .cart__wrapper
                h1.cart__title
                    | Ваша корзина
                .cart__content
                    div
                    div
                    .cart__content__left
                        p.cart__content__text
                            | Проверьте наличие всех необходимых товаров в корзине, если всё верно,
                            | перейдите к оформлению заказа
                        table.cart__content__tableCart
                            col(style='width: 20%')
                            col(style='width: 20%')
                            col(style='width: 35%')
                            col(style='width: 100px')
                            col(style='width: 15%')
                            thead.cart__content__tableCart__head
                                tr.cart__content__tableCart__row
                                    th.cart__content__tableCart__cell
                                        | Фото товара
                                    th.cart__content__tableCart__cell
                                        | Название товара
                                    th.cart__content__tableCart__cell
                                        | Цена
                                    th.cart__content__tableCart__cell
                                        | Длина
                                    th.cart__content__tableCart__cell
                                        | Итого
                            tbody.cart__content__tableCart__body


                    .cart__content__right
                        .cart__content__cartInfo
                            h3.cart__content__cartInfo__title
                                | Ваша корзина
                            .cart__content__cartInfo__numberProducts
                                p.cart__content__cartInfo__numberProducts__name
                                    | Количество товаров
                                p.cart__content__cartInfo__numberProducts__value

                            .cart__content__cartInfo__totalPrice
                                p.cart__content__cartInfo__totalPrice__name
                                    | Итого к оплате
                                p.cart__content__cartInfo__totalPrice__value

                            button.cart__content__cartInfo__btn
                                a(href='OrderMake.html') Перейти к оформлению





    include ../../chunk/footer/footer