section.slider
    .container
        h3.slider__title
            | Интернет-магазин тканей и швейной фурнитуры Софи
        .glide.slider-glide
            .glide__track(data-glide-el="track")
                .glide__slides
                    .glide__slide.previewSlider__slide
                        img.glide__slide__img(src='img/blockImg1.webp')
                    .glide__slide.previewSlider__slide
                        img.glide__slide__img(src='img/blockImg2.webp')
                    .glide__slide.previewSlider__slide
                        img.glide__slide__img(src='img/blockImg3.webp')
            .glide__arrows.slider-guide__arrows(data-glide-el="controls")
                button.glide__arrow.slider-guide__arrow.glide__arrow--left.slider-guide__arrow-left(data-glide-dir='<')
                    img.glide__arrow__img.slider-glide__arrow__img(src='img/arrowWhite.svg')
                button.glide__arrow.slider-guide__arrow.glide__arrow--right.slider-guide__arrow-right(data-glide-dir='>')
                    img.glide__arrow__img.slider-glide__arrow__img(src='img/arrowWhite.svg')
            .glide__bullets(data-glide-el="controls[nav]")
                button.glide__bullet.slider-glide__bullet(data-glide-dir='=0')
                button.glide__bullet.slider-glide__bullet(data-glide-dir='=1')
                button.glide__bullet.slider-glide__bullet(data-glide-dir='=2')
