section.allProducts
    .container
        .allProducts__wrapper
            include ../../mixins/cardProduct/CardProduct
            +CardProduct({
                img1: 'img/card1MainImg.webp',
                img2: 'img/card1img2.webp',
                img3: 'img/card1img3.webp',
                mainImg: 'img/card1MainImg.webp',
                title: 'Ткань "Весна"',
                priceNew: '1000 руб.',
                pricePrev: '2000 руб.'
            })
            +CardProduct({
                img1: 'img/card1MainImg.webp',
                img2: 'img/card1img2.webp',
                img3: 'img/card1img3.webp',
                mainImg: 'img/card1MainImg.webp',
                title: 'Ткань "Весна"',
                priceNew: '1000 руб.',
                pricePrev: '2000 руб.'
            })
            +CardProduct({
                img1: 'img/card1MainImg.webp',
                img2: 'img/card1img2.webp',
                img3: 'img/card1img3.webp',
                mainImg: 'img/card1MainImg.webp',
                title: 'Ткань "Весна"',
                priceNew: '1000 руб.',
                pricePrev: '2000 руб.'
            })
            +CardProduct({
                img1: 'img/card1MainImg.webp',
                img2: 'img/card1img2.webp',
                img3: 'img/card1img3.webp',
                mainImg: 'img/card1MainImg.webp',
                title: 'Ткань "Весна"',
                priceNew: '1000 руб.',
                pricePrev: '2000 руб.'
            })
