section.allProducts
    .container
        h3.titleSection.allProducts__title
            | Все товары
        include ../../mixins/cardProduct/CardProduct
        .glide.product__slider
            .glide__track.productsSlider__track(data-glide-el="track")
                .glide__slides.productsSlider__slides
                    .glide__slide.productsSlider__slider__slide
                        +CardProduct({
                            link: 'ST3026.html',
                            img1: 'img/ST3026.webp',
                            img2: 'img/ST3026.webp',
                            img3: 'img/ST3026.webp',
                            mainImg: 'img/ST3026.webp',
                            title: 'Ткань палаточная с водоотталкивающей пропиткой цв.Суровый, ш.1.55м, хл-100%, 235гр/м.кв',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })
                    .glide__slide.productsSlider__slider__slide
                        +CardProduct({
                            link: 'ST-2005.html',
                            img1: 'img/ST-2005.webp',
                            img2: 'img/ST-2014.webp',
                            img3: 'img/ST-2015.webp',
                            mainImg: 'img/ST-2005.webp',
                            title: 'Гладкий сатин Производитель турция ШИРИНАШИРИНА 240 см громажность 128-130 (м2) состав 100% хлопок. инструкция по стирке ГЛАЖКА ✅ СТИРКА 30 ГРАДУСВОВ СУШКА ✅ ХИМЧИСТКА✅',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })
                    .glide__slide.productsSlider__slider__slide
                        +CardProduct({
                            link: 'ST-2020.html',
                            img1: 'img/ST-2020.webp',
                            img2: 'img/ST-2022.webp',
                            img3: 'img/ST-2023.webp',
                            mainImg: 'img/ST-2020.webp',
                            title: 'Гладкий сатин Производитель турция ШИРИНАШИРИНА 240 см громажность 128-130 (м2) состав 100% хлопок. инструкция по стирке ГЛАЖКА ✅ СТИРКА 30 ГРАДУСВОВ СУШКА ✅ ХИМЧИСТКА✅',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })
                    .glide__slide.productsSlider__slider__slide
                        +CardProduct({
                            link: 'ST-2024.html',
                            img1: 'img/ST-2024.webp',
                            img2: 'img/ST-2026.webp',
                            img3: 'img/ST-2027.webp',
                            mainImg: 'img/ST-2024.webp',
                            title: 'Гладкий сатин Производитель турция ШИРИНАШИРИНА 240 см громажность 128-130 (м2) состав 100% хлопок. инструкция по стирке ГЛАЖКА ✅ СТИРКА 30 ГРАДУСВОВ СУШКА ✅ ХИМЧИСТКА✅',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })

            .glide__arrows.productsSlider__slider__arrows(data-glide-el="controls")
                button.glide__arrow.productsSlider__slider__arrow.glide__arrow--left.productsSlider__slider__arrow-left(data-glide-dir='<')
                    img.glide__arrow__img.productsSlider__slider__arrow__img(src='img/arrowWhite.svg')
                button.glide__arrow.productsSlider__slider__arrow.glide__arrow--right.productsSlider__slider__arrow-right(data-glide-dir='>')
                    img.glide__arrow__img.productsSlider__slider__arrow__img(src='img/arrowWhite.svg')



