section.allProducts
    .container
        h3.titleSection.allProducts__title
            | Все товары
        include ../../mixins/cardProduct/CardProduct
        .glide.product__slider
            .glide__track.productsSlider__track(data-glide-el="track")
                .glide__slides.productsSlider__slides
                    .glide__slide.productsSlider__slider__slide
                        +CardProduct({
                            link: 'PageProduct.html',
                            img1: 'img/ST3026.webp',
                            img2: 'img/card1img2.webp',
                            img3: 'img/card1img3.webp',
                            mainImg: 'img/ST3026.webp',
                            title: 'Ткань палаточная с водоотталкивающей пропиткой цв.Суровый, ш.1.55м, хл-100%, 235гр/м.кв',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })
                    .glide__slide.productsSlider__slider__slide
                        +CardProduct({
                            link: 'PageProduct.html',
                            img1: 'img/card1MainImg.webp',
                            img2: 'img/card1img2.webp',
                            img3: 'img/card1img3.webp',
                            mainImg: 'img/card1MainImg.webp',
                            title: 'Ткань "Весна"',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })
                    .glide__slide.productsSlider__slider__slide
                        +CardProduct({
                            link: 'PageProduct.html',
                            img1: 'img/card1MainImg.webp',
                            img2: 'img/card1img2.webp',
                            img3: 'img/card1img3.webp',
                            mainImg: 'img/card1MainImg.webp',
                            title: 'Ткань "Весна"',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })
                    .glide__slide.productsSlider__slider__slide
                        +CardProduct({
                            link: 'PageProduct.html',
                            img1: 'img/card1MainImg.webp',
                            img2: 'img/card1img2.webp',
                            img3: 'img/card1img3.webp',
                            mainImg: 'img/card1MainImg.webp',
                            title: 'Ткань "Весна"',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })
                    .glide__slide.productsSlider__slider__slide
                        +CardProduct({
                            link: 'PageProduct.html',
                            img1: 'img/card1MainImg.webp',
                            img2: 'img/card1img2.webp',
                            img3: 'img/card1img3.webp',
                            mainImg: 'img/card1MainImg.webp',
                            title: 'Ткань "Весна"',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })
                    .glide__slide.productsSlider__slider__slide
                        +CardProduct({
                            link: 'PageProduct.html',
                            img1: 'img/card1MainImg.webp',
                            img2: 'img/card1img2.webp',
                            img3: 'img/card1img3.webp',
                            mainImg: 'img/card1MainImg.webp',
                            title: 'Ткань "Весна"',
                            priceNew: '1000 руб.',
                            pricePrev: '2000 руб.'
                        })
            .glide__arrows.productsSlider__slider__arrows(data-glide-el="controls")
                button.glide__arrow.productsSlider__slider__arrow.glide__arrow--left.productsSlider__slider__arrow-left(data-glide-dir='<')
                    img.glide__arrow__img.productsSlider__slider__arrow__img(src='img/arrowWhite.svg')
                button.glide__arrow.productsSlider__slider__arrow.glide__arrow--right.productsSlider__slider__arrow-right(data-glide-dir='>')
                    img.glide__arrow__img.productsSlider__slider__arrow__img(src='img/arrowWhite.svg')



