doctype html
html
    head(lang='ru')
        title Sofi
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1')
        link(rel="shortcut icon" href="img/logo.webp" type="image/x-icon")
        link(rel="stylesheet" href="css/bundle.min.css")

    body
        block page
    script( src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous")
    script(src="https://api-maps.yandex.ru/2.1/?apikey=9ebef15f-5ae4-443e-a96a-219fecb2a0ff&lang=ru_RU")
    script(defer src='js/bundle.min.js')
