header.header
    .container
        .header__wrapper
            .header__topLine
                ul.header__topLine__nav
                    li.header__topLine__navItem
                        a.header__topLine__navLink(href='#') О магазине
                    li.header__topLine__navItem
                        a.header__topLine__navLink(href='#') Как купить
                    li.header__topLine__navItem
                        a.header__topLine__navLink(href='#') Оплата
                    li.header__topLine__navItem
                        a.header__topLine__navLink(href='#') Доставка
                    li.header__topLine__navItem
                        a.header__topLine__navLink(href='#') Контакты
                    li.header__topLine__navItem
                        a.header__topLine__navLink(href='#') Отзывы
                .header__topLine__favorites
                    a.header__topLine__favoritesLink(href='#')
                        img.header__topLine__favoritesIcon(src='img/heartFav.svg')
                        span.header__topLine__favoritesText Избранное (0)
                .header__topLine__number
                    | Бесплатно по РФ
                    a(href='+7 (999) 999-09-43').header__topLine__numberLink
                        | +7 (999) 999-09-43
            .header__main
                .header__logo.logo
                    a(href='index.html').logo__link
                        img.logo__img(src='img/logo_header-mobile-goriz.svg')
                .header__search
                    form.header__searchForm
                        input.header__searchForm__input(type='text' placeholder='Поиск по каталогу')
                        button.header__searchForm__button
                            img.header__searchForm__buttonIcon(src='img/searchIcon.webp')
                .header__userBlock
                    .header__userBlock__auth
                        a.header__userBlock__authLink(href='#') Войти на сайт
                        a.header__userBlock__authLink(href='#') Регистрация
                    .header__userBlock__cart
                        a.header__userBlock__cartLink(href='#')
                            span.header__userBlock__cartText Моя корзина
                                span.header__userBlock__cartPrice 0 руб.
                            span.header__userBlock__positions 0 позиций
    .header__menu
        ul.header__menu__list
            li.header__menu__item
                a.header__menu__link(href='#') 100% хлопок
            li.header__menu__item
                a.header__menu__link(href='#') Натуральные
            li.header__menu__item
                a.header__menu__link(href='#') Постельные
            li.header__menu__item
                a.header__menu__link(href='#') Детские
            li.header__menu__item
                a.header__menu__link(href='#') Шторы, тюль, портьеры
            li.header__menu__item
                a.header__menu__link(href='#') Эксклюзивные турецкие ткани

    include ../../components/HideList/HideList
